DB_USER=postgres
DB_PASSWORD=your_password_here 
DB_NAME=transcendence

AUTH_DB_USER=auth_user
AUTH_DB_NAME=auth_db

WEBSITE_URL="website url"
GITHUB_CLIENT_ID="from the github app in developer settings" # this needs a setup with the OAUTH app
GITHUB_CALLBACK_URL="exact redirect url from github app" # needs to match the github app exactly

HOST_IP=the server ip # for local LLM usage
LLM_BASE_URL=http://${HOST_IP}:11434/v1

# Service Ports & Hostnames (Internal Network)
AUTH_PORT="3000"
AUTH_ADDR="auth:${AUTH_PORT}"
FRONTEND_PORT="3000"
FRONTEND_ADDR="frontend:${FRONTEND_PORT}"
NOTES_PORT="3003"
NOTES_ADDR="notes:${NOTES_PORT}"
POSTGRES_PORT="5432"
POSTGRES_ADDR="postgres:${POSTGRES_PORT}"
